body{
    background-color: #EDEDED;
    position: relative;
    top: 0;
    left: 0;
}
.topbar{
    height: 28px;
    background: url("../images/topbar.gif") no-repeat;
}
.box{
    margin: 36px auto 0;
    width: 80%;
}
.box h2{
    margin-bottom: 42px;
}
nav ul{
    background: url("../images/navbg.gif") no-repeat left/80%;
}
nav ul li{
    float: left;
    margin: 0 2%;
}
nav ul li a:link,nav ul li a:visited,nav ul li a:hover,nav ul li a:active{
    color: #fff;
    font: 16px/80px "Microsoft Himalaya";
}
.container{
    margin: 10px 0 50px;
    box-sizing: border-box;
}
.container .bar{
    position: relative;
    top:0;
    left:0;

}
.container .bar span{
    position: absolute;
    top: 0;
    height: 10px;
}
.container .bar .left{
    left: -1%;
    width: 1%;
    background: linear-gradient(#000 0%,#fff 40%,#fff 60%,#000 100%);
}
.container .bar .left:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -35%;
    height: 140%;
    width: 35%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: #000;
}
.container .bar .center{
    left: 0;
    width: 100%;
    background: linear-gradient(#A3A3A3 0%,#ECECEC 40%,#ECECEC 60%,#A3A3A3 100%);
}
.container .bar .right{
    right: -1%;
    width: 1%;
    background: linear-gradient(#000 0%,#fff 40%,#fff 60%,#000 100%);
}
.container .bar .right:after{
    content: '';
    position: absolute;
    top: -2px;
    right: -35%;
    height: 140%;
    width: 35%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: #000;
}
.container .body{
    box-sizing: border-box;
    display: flex;
    height: 600px;
    padding: 20px 20px 26px;
    background-color: #E5E5E5;
}
.bg_l{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 35%;
    width: 40%;
    background: url("../images/bg_l.gif") no-repeat left/60%;
    z-index: -1;
}
.bg_r{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 40%;
    width: 45%;
    background: url("../images/bg_r.gif") no-repeat right/60%;
    z-index: -1;
}
.footer{
    height: 115px;
    background-color: #000000;
}
