.container .body .left,
.container .body .right{
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.container .body .left{
    margin-right: 10px;
}
.container .body .left div,
.container .body .right div{
    position: relative;
    background-color: #EBEBEB;
    flex: 1;
    margin-top: 10px;
}
.container .body h3{
    padding: 5px;
    color: #666;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
}
.container .body a{
    position: absolute;
    top: 5px;
    right: 5px;
}
.container .body a:link,
.container .body a:visited,
.container .body a:hover,
.container .body a:active{
    color: #666;
}