body,p,div {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,ol {
    padding-left: 2.5em;
    box-sizing: border-box;
}
html,body,#root,.app {
    height: 100%;
}
.mb20 {
    margin-bottom: 20px;
}
.icon {
    width: 1em; 
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.app .tc {
    text-align: center;
}
.app .top {
    background: #fff;
}
.app .main {
    height: 100%;
    overflow: hidden;
    padding-top: 48px;
    flex-wrap: nowrap;
    display: flex;
}
.app .main .menu {
    width: 300px;
    flex-shrink: 0;
    height: 100%;
    padding: 10px 15px;
    overflow-y: auto;
    word-break: break-all;
    box-shadow: 1px 0 3px rgb(189, 186, 186);
    margin-right: 50px;
    box-sizing: border-box;
}

@media screen and ( max-width:992px ){
    .app .main .menu {
        display: none
    }
}

.app .main .content {
    flex: 1;
    height: 100%;
    overflow-y: auto;
    padding: 15px 10px 30px;
}

@media screen and ( min-width:992px ){
    .app .main .content {
        padding-right: 50px;
    }
}